:root{
    box-sizing: border-box;
}
#game{
     width: 100%;
     height: 600px;
     background-color: lightblue;
     display: flex;
     position: relative;
     float: left;
 }

button {
    height: 100px;
    border-radius: 20%;
    width: 120px;
    font-size: larger; 

}

#user{
    position: absolute;
    bottom: 30px;
    left: 60%;
}
#cpu{
    position: absolute;
    bottom: 30px;
    right: 60%;
}
#resultUser{
    border: dotted blue;
    width: 40%;
    height: 50%;
    position: absolute;
    right: 10px;
}

#resultCpu{
    border: dotted blue;
    width: 40%;
    height: 50%;
    margin-left: 10px ;
}

#winner {
    height: 50px;
    width: 80px;
    position: absolute;
    bottom: 5px;
    left: 45%;
}

#results {
    width: 30%;
    height: 10%;
    position: absolute;
    bottom: 180px;
    border: dotted blue;
    left: 35%;
    display: flex;
    justify-content: center;
}